'Ejercicios pseint [S2-S7]'/Ejercicios-S6.md
'Ejercicios pseint [S2-S7]'/S8/Code/P1_calcularUtilidades.psc
'Ejercicios pseint [S2-S7]'/S8/Code/P3_calcularPrima_segurodeCasa.psc
'Ejercicios pseint [S2-S7]'/S8/Code/P4_determinar_si_un_anio_es_bisiesto.psc
