# Ejercicios\ pseint\ [S2-Actual]/S9/Code/P1_costo_llamada.psc
# Ejercicios\ pseint\ [S2-Actual]/S9/Code/P2_nota_alumno_rango_cero_a_diez.psc
# Ejercicios\ pseint\ [S2-Actual]/S9/Code/P3_dia_cuerpoCeleste_no_github_share.psc
# Ejercicios\ pseint\ [S2-Actual]/S9/Code/P3_dia_cuerpoCeleste_V2.psc
# Ejercicios\ pseint\ [S2-Actual]/S9/Ejercicios-S9.md
